
#big-container{
    width: 60%;
    background: #D6EAF8;
    border-radius: 10px;
    border: 1px solid black;
}
#t{
    margin-top: 50px;
    width: 100px;
    border:1px solid black;
    height:50px;
    width: 200px;
    margin-right: auto;
    margin-left:auto;
    border-radius: 20px;
    display:flex;
    text-align: center;
    padding: 15px;
    background: white;
}
#survey{
    margin-left: 30px;
    font-size: 25px;
    font-family: monospace;
    margin-top: 7px;
}
.survey{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}
#web-pic{
    border-radius: 10px;
}
#pic-link{
    margin: 40px;
}
#male{margin-left:125px;}
#select{
    margin-left:100px;
    width: 190px;
    outline: none;
    border:none;
    height: 22px;
}
#check{margin-left:125px;}
#footer{
    width:100%;
    height: 50px;
    color:white;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
    
}
#txt-footer{
    float: right;
    margin-right: 20px;
}